<mat-toolbar color="primary" style="min-height:1vh" class="header mat-elevation-z5">
  <mat-toolbar-row>
    <h1 class="brand">Angular Shopping Cart APP</h1>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button [routerLink]="'/accounts'"> Accounts </a>
      <a mat-button [routerLink]="'/create-account'"> Create Account </a>
      <a mat-button [routerLink]="'/contacts'"> Contacts </a>
      <a mat-button [routerLink]="'/create-contact'"> Create Contact </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
